
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/admin/_layout.html}">
<head>
    <title>Content page</title>
    <script src="content-script.js"></script>
</head>
<body>
<section layout:fragment="danhmuc">
    <div class="container-fluid px-4">
        <h1 class="mt-4">Danh mục</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item active">Quản lý danh mục</li>
        </ol>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop" style="margin-bottom: 10px;">
            Thêm mới
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Thêm mới danh mục</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <form th:action="@{/admin/danh-muc/them-moi-danh-muc}" method="post" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend col-sm-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Tên danh mục</span>
                                </div>
                                <input type="text" class="form-control col-sm-9" aria-label="Small"
                                       aria-describedby="inputGroup-sizing-sm" name="tendanhmuc">
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend col-sm-3">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Mô tả</span>
                                </div>
                                <input type="text" class="form-control col-sm-9" aria-label="Small"
                                       aria-describedby="inputGroup-sizing-sm" name="mota">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Close
                            </button>
                            <input type="submit" class="btn btn-primary" value="Save">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                DataTable Example
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên danh mục</th>
                        <th>Mô tả</th>
                        <th>Thao tác</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Tên danh mục</th>
                        <th>Mô tả</th>
                        <th>Thao tác</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="danhmuc : ${danhsachdanhmuc}" th:if="${danhmuc.isDelete==false}">
                        <td th:text="${danhmuc.id}"></td>
                        <td th:text="${danhmuc.tendanhmuc}"></td>
                        <td th:text="${danhmuc.mota}"></td>
                        <td>
                            <div style="width: 100px">
                                <a th:href="@{/admin/danh-muc/xem-danh-muc/{id}(id=${danhmuc.id})}" type="button" style="border: none;">
                                    <i class="far fa-eye" style="color: green;"></i>
                                </a>
                                <a th:href="@{/admin/danh-muc/sua-danh-muc/{id}(id=${danhmuc.id})}" type="button" style="border: none;">
                                    <i class="far fa-edit" style="color: blue;"></i>
                                </a>
                                <a th:href="@{/admin/danh-muc/xoa-danh-muc/{id}(id=${danhmuc.id})}" type="button" style="border: none;">
                                    <i class="far fa-trash-alt" style="color: #ff0000;"></i>
                                </a>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>




    </div>
</section>
</body>
</html>