<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"&ndash;&gt;-->
<!--&lt;!&ndash;      layout:decorate="~{/admin/_layout.html}">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    <title>Content page</title>&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash;    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash;    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script></head>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"&ndash;&gt;-->
<!--&lt;!&ndash;          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"&ndash;&gt;-->
<!--&lt;!&ndash;            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"&ndash;&gt;-->
<!--&lt;!&ndash;            crossorigin="anonymous"></script>&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--&lt;!&ndash;<section layout:fragment="sanpham_xem">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="modal-body col-md-8 col-md-offset-4">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="input-group input-group-sm mb-3" style="text-align: center">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="input-group-prepend col-sm-12">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="input-group-text" id="inputGroup-sizing-sm">PRODUCT</span>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;        <form th:action="@{/admin/san-pham}" th:object="${sanpham}" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            <div class="input-group input-group-sm mb-3">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                <div class="input-group-prepend col-sm-3">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                    <span class="input-group-text" id="inputGroup-sizing-sm">Tên sản phẩm</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                <input type="text" class="form-control col-sm-9" aria-label="Small"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                       aria-describedby="inputGroup-sizing-sm"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                       name="tensanpham"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                       th:field="*{tensanpham}" readonly&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                />&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            <div class="input-group input-group-sm mb-3">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                <div class="input-group-prepend col-sm-3">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                    <span class="input-group-text" id="inputGroup-sizing-sm">Giá bán</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                <input type="number" class="form-control col-sm-9" aria-label="Small"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                       aria-describedby="inputGroup-sizing-sm"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                       name="giaban"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                       th:field="*{giaban}" readonly&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                />&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            <div class="input-group input-group-sm mb-3">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                <div class="input-group-prepend col-sm-3">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                    <span class="input-group-text" id="inputGroup-sizing-sm">Giới tính</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                <select th:field="*{gioitinh}" class="form-select col-sm-9" aria-label="Default select example" name="gioitinh" readonly>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                    &lt;!&ndash;                    <option value="">Lựa chọn giới tính</option>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                    <option selected value="Nam">Nam</option>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                    <option disabled value="Nữ">Nữ</option>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                    <option disabled value="Unisex">Unisex</option>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                </select>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;                </select>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            </div>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;            &lt;!&ndash;            &lt;!&ndash;            <div class="input-group mb-3">&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            &lt;!&ndash;                <div class="input-group-prepend col-sm-3">&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            &lt;!&ndash;                    <span class="input-group-text" id="inputGroup-sizing-sm">Mô tả</span>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            &lt;!&ndash;                </div>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            &lt;!&ndash;                <textarea class="form-control col-sm-9" id="exampleFormControlTextarea4" rows="3"&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            &lt;!&ndash;                ></textarea>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            &lt;!&ndash;            </div>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;            &lt;!&ndash;            &lt;!&ndash;            <div class="input-group mb-3">&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            &lt;!&ndash;                <div class="input-group-prepend col-sm-3">&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            &lt;!&ndash;                    <span class="input-group-text" id="inputGroup-sizing-sm">Ảnh chính</span>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            &lt;!&ndash;                </div>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            &lt;!&ndash;                <input type="file" class="form-control custom-file-input col-sm-9" id="inputGroupFile02"&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            &lt;!&ndash;                       aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="anhchinh"/>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            &lt;!&ndash;            &lt;!&ndash;            </div>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="input-group input-group-sm mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="input-group-prepend col-sm-3">&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="input-group-text" id="inputGroup-sizing-sm">Tên sản phẩm</span>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="text" class="form-control col-sm-9" aria-label="Small"&ndash;&gt;-->
<!--&lt;!&ndash;                       aria-describedby="inputGroup-sizing-sm"&ndash;&gt;-->
<!--&lt;!&ndash;                       name="tensanpham"&ndash;&gt;-->
<!--&lt;!&ndash;                       th:field="*{tensanpham}" readonly&ndash;&gt;-->
<!--&lt;!&ndash;                />&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="input-group input-group-sm mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="input-group-prepend col-sm-3">&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="input-group-text" id="inputGroup-sizing-sm">Giá bán</span>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="text" class="form-control col-sm-9" aria-label="Small"&ndash;&gt;-->
<!--&lt;!&ndash;                       aria-describedby="inputGroup-sizing-sm"&ndash;&gt;-->
<!--&lt;!&ndash;                       name="giaban"&ndash;&gt;-->
<!--&lt;!&ndash;                       th:field="*{giaban}" readonly&ndash;&gt;-->
<!--&lt;!&ndash;                />&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="input-group input-group-sm mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="input-group-prepend col-sm-3">&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="input-group-text" id="inputGroup-sizing-sm">Số lượng</span>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="text" class="form-control col-sm-9" aria-label="Small"&ndash;&gt;-->
<!--&lt;!&ndash;                       aria-describedby="inputGroup-sizing-sm"&ndash;&gt;-->
<!--&lt;!&ndash;                       name="tongsoluong"&ndash;&gt;-->
<!--&lt;!&ndash;                       th:field="*{tongsoluong}" readonly&ndash;&gt;-->
<!--&lt;!&ndash;                />&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="input-group input-group-sm mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="input-group-prepend col-sm-3">&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="input-group-text" id="inputGroup-sizing-sm">Giới tính</span>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <select th:field="*{gioitinh}" class="form-select col-sm-9" aria-label="Default select example"&ndash;&gt;-->
<!--&lt;!&ndash;                        name="gioitinh" readonly>&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash;                    <option value="">Lựa chọn giới tính</option>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <option selected value="Nam">Nam</option>&ndash;&gt;-->
<!--&lt;!&ndash;                    <option disabled value="Nữ">Nữ</option>&ndash;&gt;-->
<!--&lt;!&ndash;                    <option disabled value="Unisex">Unisex</option>&ndash;&gt;-->
<!--&lt;!&ndash;                </select>&ndash;&gt;-->
<!--&lt;!&ndash;                </select>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="input-group mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="input-group-prepend col-sm-3">&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="input-group-text" id="inputGroup-sizing-sm">Ảnh chính</span>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <img th:src="*{anhchinh}" alt="Ảnh sản phẩm" style="width:150px; height:150px">&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash;                <input type="file" class="form-control custom-file-input col-sm-9" id="inputGroupFile02"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                &lt;!&ndash;                       aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="anhchinh" th:field="*{anhchinh}"/>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="submit" value="Quay lại" class="btn btn-secondary" style="margin-bottom: 10px">&ndash;&gt;-->
<!--&lt;!&ndash;        </form>&ndash;&gt;-->

<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</section>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"&ndash;&gt;-->
<!--&lt;!&ndash;        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"&ndash;&gt;-->
<!--&lt;!&ndash;        crossorigin="anonymous"></script>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->

<!--<!DOCTYPE html>-->
<!--<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"-->
<!--      layout:decorate="~{/admin/_layout.html}">-->
<!--<head>-->
<!--    <title>Content page</title>-->
<!--    &lt;!&ndash;    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>&ndash;&gt;-->
<!--    &lt;!&ndash;    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script></head>&ndash;&gt;-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"-->
<!--            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"-->
<!--            crossorigin="anonymous"></script>-->
<!--</head>-->
<!--<body>-->
<!--<section layout:fragment="sanpham_xem">-->
<!--    <div class="modal-body col-md-8 col-md-offset-4">-->
<!--        <div class="input-group input-group-sm mb-3" style="text-align: center">-->
<!--            <div class="input-group-prepend col-sm-12">-->
<!--                <span class="input-group-text" id="inputGroup-sizing-sm">PRODUCT</span>-->
<!--            </div>-->
<!--        </div>-->

<!--        <form th:action="@{/admin/san-pham}" th:object="${sanpham}" method="post">-->

<!--            <div class="input-group input-group-sm mb-3">-->
<!--                <div class="input-group-prepend col-sm-3">-->
<!--                    <span class="input-group-text" id="inputGroup-sizing-sm">Tên sản phẩm</span>-->
<!--                </div>-->
<!--                <input type="text" class="form-control col-sm-9" aria-label="Small"-->
<!--                       aria-describedby="inputGroup-sizing-sm"-->
<!--                       name="tensanpham"-->
<!--                       th:field="*{tensanpham}" readonly-->
<!--                />-->
<!--            </div>-->
<!--            <div class="input-group input-group-sm mb-3">-->
<!--                <div class="input-group-prepend col-sm-3">-->
<!--                    <span class="input-group-text" id="inputGroup-sizing-sm">Giá bán</span>-->
<!--                </div>-->
<!--                <input type="text" class="form-control col-sm-9" aria-label="Small"-->
<!--                       aria-describedby="inputGroup-sizing-sm"-->
<!--                       name="giaban"-->
<!--                       th:field="*{giaban}" readonly-->
<!--                />-->
<!--            </div>-->
<!--            <div class="input-group input-group-sm mb-3">-->
<!--                <div class="input-group-prepend col-sm-3">-->
<!--                    <span class="input-group-text" id="inputGroup-sizing-sm">Số lượng</span>-->
<!--                </div>-->
<!--                <input type="text" class="form-control col-sm-9" aria-label="Small"-->
<!--                       aria-describedby="inputGroup-sizing-sm"-->
<!--                       name="tongsoluong"-->
<!--                       th:field="*{tongsoluong}" readonly-->
<!--                />-->
<!--            </div>-->
<!--            <div class="input-group input-group-sm mb-3">-->
<!--                <div class="input-group-prepend col-sm-3">-->
<!--                    <span class="input-group-text" id="inputGroup-sizing-sm">Giới tính</span>-->
<!--                </div>-->
<!--                <select th:field="*{gioitinh}" class="form-select col-sm-9" aria-label="Default select example"-->
<!--                        name="gioitinh" readonly>-->
<!--                    &lt;!&ndash;                    <option value="">Lựa chọn giới tính</option>&ndash;&gt;-->
<!--                    <option selected value="nam">Nam</option>-->
<!--                    <option disabled value="nữ">Nữ</option>-->
<!--                    <option disabled value="Unisex">Unisex</option>-->
<!--                </select>-->
<!--                </select>-->
<!--            </div>-->
<!--            <div class="input-group mb-3">-->
<!--                <div class="input-group-prepend col-sm-3">-->
<!--                    <span class="input-group-text" id="inputGroup-sizing-sm">Ảnh chính</span>-->
<!--                </div>-->
<!--                <img th:src="*{anhchinh}" alt="Ảnh sản phẩm" style="width:150px; height:150px">-->
<!--            </div>-->
<!--            <div class="input-group mb-3">-->
<!--                <div class="input-group-prepend col-sm-3">-->
<!--                    <span class="input-group-text" id="inputGroup-sizing-sm">Ảnh phụ 1</span>-->
<!--                </div>-->
<!--                <img th:src="*{anhphu1}" alt="Ảnh sản phẩm" style="width:150px; height:150px">-->
<!--            </div>-->
<!--            <div class="input-group mb-3">-->
<!--                <div class="input-group-prepend col-sm-3">-->
<!--                    <span class="input-group-text" id="inputGroup-sizing-sm">Ảnh phụ 2</span>-->
<!--                </div>-->
<!--                <img th:src="*{anhphu2}" alt="Ảnh sản phẩm" style="width:150px; height:150px">-->
<!--            </div>-->
<!--            <div class="input-group mb-3">-->
<!--                <div class="input-group-prepend col-sm-3">-->
<!--                    <span class="input-group-text" id="inputGroup-sizing-sm">Ảnh phụ 3</span>-->
<!--                </div>-->
<!--                <img th:src="*{anhphu3}" alt="Ảnh sản phẩm" style="width:150px; height:150px">-->
<!--            </div>-->
<!--            <input type="submit" value="Quay lại" class="btn btn-secondary" style="margin-bottom: 10px">-->
<!--        </form>-->

<!--    </div>-->
<!--</section>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"-->
<!--        crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/admin/_layout.html}">
<head>
    <title>Content page</title>
    <!--    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
    <!--    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script></head>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>
<section layout:fragment="sanpham_xem">
    <div class="modal-body col-md-8 col-md-offset-4">
        <div class="input-group input-group-sm mb-3" style="text-align: center">
            <div class="input-group-prepend col-sm-12">
                <span class="input-group-text" id="inputGroup-sizing-sm">PRODUCT</span>
            </div>
        </div>

        <form th:action="@{/admin/san-pham}" th:object="${sanpham}" method="post">

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend col-sm-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Tên sản phẩm</span>
                </div>
                <input type="text" class="form-control col-sm-9" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm"
                       name="tensanpham"
                       th:field="*{tensanpham}" readonly
                />
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend col-sm-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Giá bán</span>
                </div>
                <input type="text" class="form-control col-sm-9" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm"
                       name="giaban"
                       th:field="*{giaban}" readonly
                />
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend col-sm-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Số lượng</span>
                </div>
                <input type="text" class="form-control col-sm-9" aria-label="Small"
                       aria-describedby="inputGroup-sizing-sm"
                       name="tongsoluong"
                       th:field="*{tongsoluong}" readonly
                />
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend col-sm-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Giới tính</span>
                </div>
                <select th:field="*{gioitinh}" class="form-select col-sm-9" aria-label="Default select example"
                        name="gioitinh" readonly>
                    <!--                    <option value="">Lựa chọn giới tính</option>-->
                    <option selected value="nam">Nam</option>
                    <option disabled value="nu">Nữ</option>
                </select>

            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend col-sm-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Ảnh chính</span>
                </div>
                <img th:src="*{anhchinh}" alt="Ảnh sản phẩm" style="width:150px; height:150px">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend col-sm-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Ảnh phụ 1</span>
                </div>
                <img th:src="*{anhphu1}" alt="Ảnh sản phẩm" style="width:150px; height:150px">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend col-sm-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Ảnh phụ 2</span>
                </div>
                <img th:src="*{anhphu2}" alt="Ảnh sản phẩm" style="width:150px; height:150px">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend col-sm-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Ảnh phụ 3</span>
                </div>
                <img th:src="*{anhphu3}" alt="Ảnh sản phẩm" style="width:150px; height:150px">
            </div>
            <input type="submit" value="Quay lại" class="btn btn-secondary" style="margin-bottom: 10px">
        </form>

    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>